/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Sass utilities */
/*Mixins*/
/* TRAVEL SECTIONS */
/* Video */
/* block, none */
/* none, fixed, scroll*/
.travel-head {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}

/* Waitfor */
/* block, none */
/* none, fixed, scroll*/
/* Activity */
/* block, none */
/* none, fixed, scroll*/
.travel-activity {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}

/* Result */
/* block, none */
/* none, fixed, scroll*/
.travel-result {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}

/* Gallery */
/* block, none */
/* none, fixed, scroll*/
/* Firstinvite */
/* block, none */
/* none, fixed, scroll*/
.travel-firstinvite {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}

/* Route */
/* block, none */
/* none, fixed, scroll*/
/* Secondinvite */
/* block, none */
/* none, fixed, scroll*/
.travel-secondinvite {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}

/* Numbers */
/* block, none */
/* none, fixed, scroll*/
/* Map */
/* block, none */
/* none, fixed, scroll*/
/* Author */
/* block, none */
/* none, fixed, scroll*/
.travel-author {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}

/* Reviews */
/* block, none */
/* none, fixed, scroll*/
/* Detaild */
/* block, none */
/* none, fixed, scroll*/
/* Bottom */
/* block, none */
/* none, fixed, scroll*/
.travel-bottom {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}

/* Choice */
/* block, none */
/* Form */
/* block, none */
/* Questions */
/* block, none */
/* none, fixed, scroll*/
/* Base stuff */
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

video {
  width: 100% !important;
}
.videoBG,
.videoBG_wrapper {
   width: 100% !important;
   height: 100% !important;
}

body {
  font-family: "Ubuntu", sans-serif;
  color: #141d2a;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  font-size: 33px;
  color: #000000;
}

h2.title {
  font-size: 28px;
  color: #040000;
  letter-spacing: 5px;
}
h2.title span {
  display: block;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 3px;
  color: #838383;
  margin-bottom: 8px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

a {
  color: #ffffff;
  text-decoration: none;
  outline: none;
}
a:hover {
  color: #7ce1c6;
}

span.grand {
  color: #58bfd0;
  font-weight: 500;
}

.section {
  min-width: 960px;
  overflow: hidden;
}

.container {
  width: 960px;
  margin: auto;
}

input[type="text"] {
  width: 100%;
  padding: 11px 10px;
  border: 1px solid #cccccc;
  font-size: 16px;
  color: #000000;
  outline: none;
}
input[type="text"]:hover {
  border-color: #979797;
}
input[type="text"]:focus {
  -webkit-box-shadow: 0 0 5px 1px #7ce1c6;
  -moz-box-shadow: 0 0 5px 1px #7ce1c6;
  box-shadow: 0 0 5px 1px #7ce1c6;
  border-color: #979797;
}

.btn-more {
  display: inline-block;
  border: 3px solid #ffffff;
  padding: 10px;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  color: #ffffff;
}

.btn-green {
  display: inline-block;
  background: #e65332;
  background: -moz-linear-gradient(top, #88f7bb 0%, #74daca 100%);
  background: -webkit-linear-gradient(top, #88f7bb 0%, #74daca 100%);
  background: -o-linear-gradient(top, #88f7bb 0%, #74daca 100%);
  background: -ms-linear-gradient(top, #88f7bb 0%, #74daca 100%);
  background: linear-gradient(top, #88f7bb 0%, #74daca 100%);
  font-size: 16px;
  font-weight: 600;
  color: #006b2b;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 35px;
  border-bottom: 5px solid #1d8b8b;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.btn-green:hover {
  color: #006b2b;
  -webkit-box-shadow: inset 0 0 10px 2px #ffffff;
  -moz-box-shadow: inset 0 0 10px 2px #ffffff;
  box-shadow: inset 0 0 10px 2px #ffffff;
}
.btn-green:active {
  background: -moz-linear-gradient(top, #74daca 0%, #88f7bb 100%);
  background: -webkit-linear-gradient(top, #74daca 0%, #88f7bb 100%);
  background: -o-linear-gradient(top, #74daca 0%, #88f7bb 100%);
  background: -ms-linear-gradient(top, #74daca 0%, #88f7bb 100%);
  background: linear-gradient(top, #74daca 0%, #88f7bb 100%);
}

.btn-green.rounded {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  font-size: 18px;
}

/* Layout related stylesheets* */
.header {
  width: 100%;
  background: #222c39;
  padding: 5px 0;
  z-index: 100;
}
.header .container:after {
  content: "";
  display: table;
  clear: both;
}
.header-logo {
  float: left;
  text-align: center;
  width: 125px;
  outline: none;
  position: relative;
  height: 66px;
}
.header-logo img {
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  position: absolute;
  left: 50%;
  top: 0;
}
.header-logo img.big-logo {
  width: 95px;
  opacity: 1;
  margin-left: -60px;
}
.header-logo img.small-logo {
  opacity: 0;
  margin-left: -25px;
  top: -3px;
}
.header-inner {
  float: right;
  width: 806px;
}
.header-nav {
  height: 16px;
  visibility: visible;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-align: right;
}
.header-nav li {
  display: inline-block;
  margin-left: 33px;
}
.header-nav li a {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.header-nav li:first-child {
  margin-left: 0;
}
.header-nav li.active a, .header-nav li:hover a {
  color: #7ce1c6;
}
.header-visible {
  width: 100%;
  padding-top: 10px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.header-visible:after {
  content: "";
  display: table;
  clear: both;
}
.header-visible .page-nav {
  float: left;
  width: 400px;
  padding-top: 2px;
}
.header-visible .page-nav li {
  width: 115px;
  float: left;
  margin: 2px 0;
}
.header-visible .page-nav li:nth-child(3n+1) {
  margin-right: 40px;
}
.header-visible .page-nav li a {
  font-size: 15px;
  font-weight: 300;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  border-bottom: 1px solid transparent;
}
.header-visible .page-nav li a:hover {
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
}
.header-visible .page-nav li.active a {
  color: #7ce1c6;
  border-bottom: 1px solid transparent;
  font-weight: 300;
}
.header-callback {
  float: right;
}
.header-callback .phone {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}
.header-callback .phone h5 {
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 5px;
}
.header-callback .phone a {
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.header-callback .phone a:hover {
  border-color: #ffffff;
}
.header-callback .btn-green {
  border-bottom: none;
  font-size: 13px;
  vertical-align: middle;
  padding: 7px 20px;
  line-height: 1.3;
  margin-left: 5px;
}
.header-callback .btn-unknow {
  vertical-align: middle;
  margin-left: 5px;
  font-size: 12px;
  padding: 6px 8px;
  line-height: 1.3;
  color: #7ce1c6;
  background: transparent;
  text-align: left;
  border-top: 3px solid #88f7bb;
  border-bottom: 3px solid #74daca;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#88f7bb), to(#74daca));
  background-image: -webkit-linear-gradient(#88f7bb, #74daca);
  background-image: -moz-linear-gradient(#88f7bb, #74daca), -moz-linear-gradient(#88f7bb, #74daca);
  background-image: -o-linear-gradient(#88f7bb, #74daca), -o-linear-gradient(#88f7bb, #74daca);
  background-image: linear-gradient(#88f7bb, #74daca), linear-gradient(#88f7bb, #74daca);
  -moz-background-size: 3px 100%;
  background-size: 3px 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
}

.header.sticky {
  position: fixed;
}
/*.header.sticky .header-logo {
  height: 45px;
}
.header.sticky .header-logo img.big-logo {
  opacity: 0;
  visibility: hidden;
}
.header.sticky .header-logo img.small-logo {
  opacity: 1;
  visibility: visible;
}
.header.sticky .header-nav {
  height: 0;
  visibility: hidden;
  opacity: 0;
}
.header.sticky .header-visible {
  padding-top: 0;
}*/

.header-main {
  overflow: visible;
}
.header-main .header-logo {
  height: 52px;
}
.header-main .header-top:after {
  content: "";
  display: table;
  clear: both;
}
.header-main .header-visible {
  padding: 0;
}
.header-main .header-logo img.small-logo {
  opacity: 1;
  margin-left: 0;
  left: 0;
  top: -3px;
}
.header-main .header-categories {
  width: 630px;
  float: left;
  padding-top: 5px;
}
.header-main .header-categories:after {
  content: "";
  display: table;
  clear: both;
}
.header-main .header-categories-section {
  width: 25%;
  float: left;
}
.header-main .header-categories label {
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  display: block;
}
.header-main .header-categories .sod_select {
  font-size: 14px;
  padding: 2px 0;
  border: none;
  color: #7ce1c6;
  width: auto;
  border-bottom: 1px dashed #7ce1c6;
}
.header-main .header-categories .sod_select:after {
  content: '';
}
.header-main .header-categories .sod_select .sod_label {
  padding: 0;
}
.header-main .header-categories .sod_select.focus {
  box-shadow: none;
}
.header-main .header-categories .sod_select .sod_list_wrapper {
  min-width: 150px;
  width: 100%;
  border: none;
  margin: 0;
  left: 0;
}
.header-main .header-categories .sod_select .sod_option {
  padding: 10px 5px;
}
.header-main .header-categories .sod_select .sod_option.selected:before {
  content: none;
}

.header-main.sticky .header-logo {
  height: 0px;
}
.header-main.sticky .header-logo img.big-logo {
  opacity: 0;
  visibility: hidden;
}
.header-main.sticky .header-logo img.small-logo {
  opacity: 0;
  visibility: hidden;
}

.footer {
  padding: 20px 0;
  background: #222c39;
}
.footer-top:after {
  content: "";
  display: table;
  clear: both;
}
.footer-top .footer-logo {
  float: left;
}
.footer-top .footer-nav {
  float: right;
  padding: 0 0 15px 10px;
  border-bottom: 1px solid #1b1b1b;
}
.footer-top .footer-nav li {
  display: inline-block;
  margin-left: 20px;
}
.footer-top .footer-nav li a {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.footer-top .footer-nav li.active a, .footer-top .footer-nav li:hover a {
  color: #7ce1c6;
}
.footer-bottom {
  margin-top: -30px;
}
.footer-bottom:after {
  content: "";
  display: table;
  clear: both;
}
.footer-bottom p {
  font-size: 14px;
  font-weight: 300;
  color: #7a7a7a;
  line-height: 1.2;
}
.footer-bottom p.copyright {
  float: right;
  color: #4b4b4b;
  position: relative;
  text-transform: uppercase;
  margin-top: 15px;
}
.footer-bottom p.copyright span {
  font-weight: 600;
  position: absolute;
  top: -17px;
  left: -50px;
}

.main-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 305px;
  margin: 0 auto;
}
.main-popup .title {
  position: absolute;
  bottom: 100%;
  left: -15%;
  width: 130%;
  color: #ffffff;
  padding-bottom: 25px;
}
.main-popup .manager {
  position: absolute;
  top: 100%;
  left: 0;
  text-align: center;
  width: 100%;
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
  padding-top: 20px;
  line-height: 1.2;
}
.main-popup h5 {
  font-size: 30px;
  margin-bottom: 15px;
}
.main-popup input {
  margin-bottom: 8px;
}
.main-popup .btn-holder {
  margin-top: 15px;
  text-align: center;
}

.nobg-popup {
  position: relative;
  width: auto;
  max-width: 410px;
  margin: 0 auto;
  text-align: center;
}
.nobg-popup .title {
  color: #ffffff;
  margin-bottom: 32px;
}
.nobg-popup p {
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
  line-height: 1.2;
}
.nobg-popup .mfp-close {
  margin-top: 30px;
  top: 100%;
  right: 250px;
}

.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.9;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/* Pages */
.main-travel {
  padding: 50px 0 115px;
  background: url(img/bg/main_bg.jpg);
  background-attachment: fixed;
  background-size: 100% 100%;
}
.main-travel .logo-holder {
  text-align: center;
}
.main-travel .logo-holder .logo {
  display: inline-block;
}
.main-travel h1 {
  margin: 15px 0 55px;
}
.main-travel .travels-text {
  text-align: center;
  margin-top: 50px;
}
.main-travel .travels-text h5 {
  font-size: 17px;
  margin-bottom: 25px;
}
.main-travel .travels-text p {
  font-size: 17px;
  margin-bottom: 15px;
}
.main-travel .travels {
  padding: 0 10px;
}
.main-travel .travels:after {
  content: "";
  display: table;
  clear: both;
}
.main-travel .travels-item {
  background: #ffffff;
  width: 295px;
  float: left;
  margin-right: 27px;
  margin-top: 30px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.main-travel .travels-item:nth-child(3n+3) {
  margin-right: 0;
}
.main-travel .travels-item-name {
  padding: 10px 15px;
}
.main-travel .travels-item-name h5 {
  padding: 0 10px;
  letter-spacing: 1px;
  line-height: 1.2;
}
.main-travel .travels-item-name h5 span.grand {
  font-weight: 600;
}
.main-travel .travels-item-info {
  padding: 25px 15px 15px;
  text-align: center;
}
.main-travel .travels-item-info .info-bottom:after {
  content: "";
  display: table;
  clear: both;
}
.main-travel .travels-item-info p.descrip {
  font-size: 14px;
  color: #5b5a5a;
  margin-bottom: 20px;
}
.main-travel .travels-item-info p.days {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  color: #919191;
  float: left;
  padding-top: 15px;
}
.main-travel .travels-item-info p.summ {
  font-size: 19px;
  color: #58bfd0;
  text-transform: uppercase;
  float: right;
}
.main-travel .travels-item-info p.summ span {
  font-size: 31px;
  font-weight: 600;
  color: #000000;
  margin-left: 5px;
  margin-right: 5px;
}
.main-travel .travels-item .img-holder {
  width: 295px;
  height: 224px;
  display: block;
  position: relative;
}
.main-travel .travels-item .img-holder img {
  width: 100%;
  height: 100%;
}
.main-travel .travels-item .img-holder .btn-holder {
  position: absolute;
  top: 95px;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.main-travel .travels-item .img-holder .location {
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  text-align: center;
}
.main-travel .travels-item .img-holder .location span {
  border-radius: 20px;
  font-size: 17px;
  font-weight: 300;
  padding: 2px 8px;
  letter-spacing: 1px;
  color: #ffffff;
}
.main-travel .travels-item .img-holder .location.orange span {
  background: #f7c570;
}
.main-travel .travels-item .img-holder .location.blue span {
  background: #9ab1d7;
}
.main-travel .travels-item .img-holder .location.green span {
  background: #7cad04;
}
.main-travel .travels-item:hover {
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
  box-shadow: 0 1px 10px #ffffff;
}
.main-travel .travels-item:hover .img-holder .btn-holder {
  opacity: 1;
}

.travel-head {
  display: block;
  background-color: none;
  background-image: url();
  background-position: center;
  background-attachment: none;
}
.travel-head .container {
  height: 100%;
  position: relative;
}
.travel-head-centred {
  width: 100%;
  position: absolute;
  top: 25%;
  left: 0;
  text-align: center;
}
.travel-head-centred-inner {
  /* width: 560px; */
  margin: auto;
}
.travel-head-centred h1 {
  font-size: 42px;
  color: #ffffff;
  letter-spacing: 7px;
  margin-bottom: 45px;
}
.travel-head-centred p {
  font-size: 18px;
  color: #ffffff;
  line-height: 1.3;
  letter-spacing: 1px;
  margin-bottom: 45px;
}
.travel-head-scrollit {
  width: 100%;
  position: absolute;
  bottom: 15px;
  left: 0;
  text-align: center;
}
.travel-head-scrollit p {
  font-size: 13px;
  color: #ffffff;
  margin-top: 10px;
}
.travel-head-scrollit img {
  position: relative;
  -webkit-animation-name: mymove;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-duration: .6s;
  -webkit-animation-delay: 3s;
  animation-name: mymove;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: .6s;
  animation-delay: 3s;
}

@-webkit-keyframes mymove {
  from {
    top: 0;
  }
  to {
    top: -10px;
  }
}
@keyframes mymove {
  from {
    top: 0;
  }
  to {
    top: -10px;
  }
}
.travel-waitfor {
  display: block;
  background-color: #ffffff;
  background-image: url();
  background-position: center;
  background-attachment: none;
  padding: 40px 0 60px;
}
.travel-waitfor .title {
  margin-bottom: 20px;
}
.travel-waitfor-inner {
  text-align: center;
  width: 730px;
  margin: auto;
}
.travel-waitfor-inner p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
}

.travel-waitfor-date  {
  margin-top: 130px;
  border: 5px solid #88f7bb;
  padding: 50px 0 45px;
  position: relative;
}
.travel-waitfor-date .date-icon {
  position: absolute;
  top: -90px;
  left: 50%;
  margin-left: -59px;
}
.travel-waitfor-date h4 {
  position: absolute;
  top: -13px;
  left: 0;
  width: 100%;
  text-align: center;
}
.travel-waitfor-date h4 span {
  display: inline-block;
  background: #ffffff;
  padding: 0 15px;
}
.travel-waitfor-date p {
  font-size: 21px;
}

.travel-waitfor-info {
  width: 420px;
  margin: auto;
  margin-top: 25px;
}
.travel-waitfor-info img {
  float: left;
}
.travel-waitfor-info p {
  padding-left: 60px;
  font-size: 18px;
  font-style: italic;
  color: #bab7b7;
  text-align: left;
}


.travel-waitfor-advert {
  background: #ededed;
  text-align: left;
  padding: 10px 20px;
  width: 675px;
  margin: auto;
}
.travel-waitfor-advert:after {
  content: "";
  display: table;
  clear: both;
}
.travel-waitfor-advert img {
  float: left;
}
.travel-waitfor-advert h4 {
  padding-left: 155px;
  text-align: left;
  color: #ff0101;
  margin-bottom: 20px;
  margin-top: 5px;
}
.travel-waitfor-advert p {
  padding-left: 155px;
  font-size: 17px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.2;
  color: #ed7070;
}

.travel-activity {
  display: block;
  background-color: none;
  background-image: url(img/bg/activity_bg.jpg);
  background-position: center;
  background-attachment: fixed;
  padding: 45px 0;
}
.travel-activity .title {
  color: #ffffff;
  margin-bottom: 65px;
}
.travel-activity .title span {
  color: #ffffff;
}
.travel-activity .btn-holder {
  text-align: center;
}
.travel-activity-inner {
  margin-bottom: 3px;
}
.travel-activity-inner:after {
  content: "";
  display: table;
  clear: both;
}
.travel-activity-item {
  float: left;
  width: 275px;
  border: 5px solid red;
  margin-right: 67px;
  margin-bottom: 20px;
}
.travel-activity-item-inside {
  background: rgba(255, 255, 255, 0.9);
  padding: 11px;
}
.travel-activity-item-inside:after {
  content: "";
  display: table;
  clear: both;
}
.travel-activity-item:nth-child(3n+3) {
  margin-right: 0;
}
.travel-activity-item.activity-new {
  width: 434px;
  margin-right: 46px;
}
.travel-activity-item.activity-new:nth-child(2n+2) {
  margin-right: 0;
}
.travel-activity-item .image-holder {
  float: left;
}
.travel-activity-item .image-holder img {
  width: 82px;
  height: 82px;
}
.travel-activity-item.activity-new .image-holder img {
  width: 132px;
  height: 132px;
}
.travel-activity-item .text-holder {
  float: right;
  width: 150px;
}
.travel-activity-item.activity-new .text-holder {
  width: 250px;
}
.travel-activity-item .text-holder h5 {
  text-align: left;
  font-size: 15px;
  color: #121212;
  line-height: 1.2;
  margin-bottom: 5px;
}
.travel-activity-item.activity-new .text-holder h5 {
  font-size: 20px;
  margin-bottom: 10px;
}
.travel-activity-item .text-holder p {
  font-size: 15px;
  font-weight: 300;
  color: #646464;
  line-height: 1.2;
}
.travel-activity-item.activity-new .text-holder p {
  font-size: 16px;
}
.travel-activity-item.green-light {
  border-color: rgba(23, 203, 95, 0.8);
}
.travel-activity-item.green-dark {
  border-color: rgba(39, 184, 35, 0.8);
}
.travel-activity-item.yellow {
  border-color: rgba(234, 232, 28, 0.8);
}
.travel-activity-item.red {
  border-color: rgba(231, 89, 89, 0.8);
}
.travel-activity-item.orange {
  border-color: rgba(216, 175, 50, 0.8);
}
.travel-activity-item.blue-light {
  border-color: rgba(66, 231, 233, 0.8);
}
.travel-activity-item.blue-dark {
  border-color: rgba(45, 187, 246, 0.8);
}
.travel-activity-item.purpure {
  border-color: rgba(203, 110, 242, 0.8);
}
.travel-activity-item.brown {
  border-color: rgba(145, 128, 112, 0.8);
}

.travel-result {
  display: block;
  background-color: none;
  background-image: url(img/bg/result_bg.jpg);
  background-position: center;
  background-attachment: none;
  padding: 35px 0 60px;
}
.travel-result .title {
  margin-bottom: 55px;
}
.travel-result-inner {
  width: 780px;
  margin: 0 auto 50px;
  text-align: center;
}
.travel-result-inner p {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.2;
}
.travel-result-advert {
  width: 730px;
  margin: auto;
  text-align: center;
  border: 5px solid #17cb5f;
  padding: 25px 30px;
}
.travel-result-advert p {
  font-size: 17px;
  font-weight: 600;
  color: #000000;
  letter-spacing: 1px;
  line-height: 1.1;
}

.travel-gallery {
  display: block;
  background-color: #ffffff;
  background-image: url();
  background-position: center;
  background-attachment: none;
  padding: 55px 0 35px;
}
.travel-gallery .title {
  margin-bottom: 40px;
}
.travel-gallery .subtitle {
  font-size: 17px;
  font-weight: 300;
  color: #4b4b4b;
  margin-bottom: 40px;
  line-height: 1.2;
  padding: 0 140px;
  text-align: center;
}
.travel-gallery .btn-holder {
  text-align: center;
  margin-top: 15px;
}
.travel-gallery .btn-holder p {
  font-size: 17px;
  font-weight: 300;
  color: #4b4b4b;
  margin-bottom: 30px;
  line-height: 1.2;
}
.travel-gallery-inner:after {
  content: "";
  display: table;
  clear: both;
}
.travel-gallery-item {
  width: 472px;
  height: 258px;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}
.travel-gallery-item:nth-child(2n+2) {
  margin-right: 0;
}
.travel-gallery-item img {
  width: 100%;
  height: 100%;
}
.travel-gallery-item .gallery-caption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
}
.travel-gallery-item .gallery-caption:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.travel-gallery-item .gallery-caption h5, .travel-gallery-item .gallery-caption p {
  color: #ffffff;
  z-index: 10;
  position: relative;
  opacity: 0;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.travel-gallery-item .gallery-caption h5 {
  text-align: left;
  margin-bottom: 10px;
}
.travel-gallery-item .gallery-caption p {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.2;
}
.travel-gallery-item:hover .gallery-caption:before {
  top: 0;
}
.travel-gallery-item:hover .gallery-caption h5, .travel-gallery-item:hover .gallery-caption p {
  opacity: 1;
}

.travel-firstinvite {
  display: block;
  background-color: none;
  background-image: url(img/bg/firstinvite_bg.jpg);
  background-position: center;
  background-attachment: none;
}
.travel-firstinvite .container {
  position: relative;
  padding: 25px 0 20px;
}
.travel-firstinvite .container:before {
  content: '';
  background: url(img/monk.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -5px;
  left: -80px;
  z-index: 5;
}
.travel-firstinvite .title {
  color: #ffffff;
  margin-bottom: 45px;
  position: relative;
  z-index: 15;
}
.travel-firstinvite-inner {
  width: 560px;
  margin: auto;
  text-align: center;
  position: relative;
  z-index: 15;
}
.travel-firstinvite-inner p {
  font-size: 17px;
  color: #8d8d8d;
  line-height: 1.2;
  margin-bottom: 35px;
}

.travel-route {
  display: block;
  background-color: #ffffff;
  background-image: url();
  background-position: center;
  background-attachment: none;
  padding: 95px 0 80px;
}
.travel-route .title {
  margin-bottom: 25px;
}
.travel-route .subtitle {
  background: #ededed;
  font-weight: 500;
  padding: 22px 0;
  margin: 40px 0 0;
}
.travel-route-days .day {
  margin-top: 60px;
}
.travel-route-days .day:after {
  content: "";
  display: table;
  clear: both;
}
.travel-route-days .day h4 {
  margin-bottom: 30px;
}
.travel-route-days .day h4 .name-inner {
  display: inline-block;
  position: relative;
}
.travel-route-days .day h4 .name-inner img {
  position: absolute;
  bottom: 0;
}
.travel-route-days .day p {
  font-size: 17px;
  font-weight: 300;
  color: #4b4b4b;
  line-height: 1.3;
  margin-bottom: 20px;
}
.travel-route-days .day .image-holder img {
  max-width: 960px;
}
.travel-route-days .day.day1 {
  margin-top: 110px;
}
.travel-route-days .day.day1 .text-holder {
  float: left;
  width: 360px;
  margin-right: 40px;
}
.travel-route-days .day.day1 h4 {
  text-align: left;
}
.travel-route-days .day.day1 h4 .name-inner img {
  left: 100%;
  margin-left: 20px;
}
.travel-route-days .day.day1 .text-holder h4 {
  text-align: left;
}
.travel-route-days .day.day1 .image-holder {
  float: left;
  width: 360px;
}
.travel-route-days .day.day1 .image-holder img {
  width: 100%;
  height: 220px;
  margin-bottom: 10px;
}
.travel-route-days .day.day2 {
  margin-top: 90px;
}
.travel-route-days .day.day2 h4 {
  text-align: right;
  padding-right: 55px;
}
.travel-route-days .day.day2 h4 .name-inner img {
  right: 100%;
  margin-right: 20px;
}
.travel-route-days .day.day2 .text-holder {
  width: 335px;
  float: right;
  padding-right: 35px;
}
.travel-route-days .day.day2 .image-holder {
  width: 610px;
  float: left;
}
.travel-route-days .day.day2 .image-holder:after {
  content: "";
  display: table;
  clear: both;
}
.travel-route-days .day.day2 .image-holder .left,
.travel-route-days .day.day2 .image-holder .right {
  width: 300px;
  overflow: hidden;
}
.travel-route-days .day.day2 .image-holder .left {
  float: left;
}
.travel-route-days .day.day2 .image-holder .right {
  float: right;
}
.travel-route-days .day.day2 .image-holder img {
  min-width: 300px;
  max-height: 325px;
}
.travel-route-days .day.day3 {
  margin-top: 90px;
}
.travel-route-days .day.day3 h4 {
  text-align: left;
}
.travel-route-days .day.day3 h4 .name-inner img {
  left: 100%;
  margin-left: 20px;
}
.travel-route-days .day.day3 .text-holder p {
  padding-right: 170px;
}
.travel-route-days .day.day3 .image-holder {
  margin-bottom: 5px;
}
.travel-route-days .day.day3 .image-holder img {
  width: 100%;
  height: 325px;
}
.travel-route-days .day.day4 h4 {
  text-align: right;
  padding-right: 50px;
}
.travel-route-days .day.day4 h4 .name-inner img {
  right: 100%;
  margin-right: 20px;
}
.travel-route-days .day.day4 .text-holder p {
  padding-right: 20px;
  padding-left: 180px;
}
.travel-route-days .day.day4 .image-holder img {
  width: 300px;
  height: 300px;
  margin-right: 24px;
}
.travel-route-days .day.day4 .image-holder img:last-child {
  margin-right: 0;
}
.travel-route-days .day:first-child {
  margin-top: 40px !important;
}

.travel-secondinvite {
  display: block;
  background-color: none;
  background-image: url(img/bg/secondinvite_bg.jpg);
  background-position: center;
  background-attachment: none;
}
.travel-secondinvite .container {
  position: relative;
  padding: 55px 0 15px;
}
.travel-secondinvite .container:before {
  content: '';
  background: url(img/map.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: -80px;
  z-index: 5;
}
.travel-secondinvite .title {
  color: #ffffff;
  margin-bottom: 45px;
  position: relative;
  z-index: 15;
}
.travel-secondinvite .title span {
  color: #ffffff;
}
.travel-secondinvite-inner {
  width: 560px;
  margin: auto;
  text-align: center;
  position: relative;
  z-index: 15;
}
.travel-secondinvite-inner p {
  font-size: 17px;
  color: #ffffff;
  line-height: 1.2;
  margin-bottom: 35px;
}

.travel-numbers {
  display: block;
  background-color: #f1f1f1;
  background-image: url();
  background-position: center;
  background-attachment: none;
  padding: 30px 0 35px;
}
.travel-numbers-inner {
  position: relative;
}
.travel-numbers-inner:after {
  content: "";
  display: table;
  clear: both;
}
.travel-numbers-inner .path {
  position: absolute;
}
.travel-numbers-inner .path.path1 {
  top: 120px;
  left: 165px;
}
.travel-numbers-inner .path.path2 {
  top: 35px;
  left: 445px;
}
.travel-numbers-inner .path.path3 {
  top: 140px;
  left: 670px;
}
.travel-numbers-item {
  width: 25%;
  float: left;
  text-align: center;
}
.travel-numbers-item p {
  font-size: 15px;
  font-weight: 300;
  color: #6d6d6d;
  line-height: 1.3;
}
.travel-numbers-item p.left {
  text-align: left;
}
.travel-numbers-item p.right {
  text-align: right;
}
.travel-numbers-item p.numbers {
  font-weight: 600;
  color: #7ce1c6;
  line-height: 0.8;
}
.travel-numbers .number-first {
  padding-top: 35px;
  padding-right: 80px;
}
.travel-numbers .number-first p.number1 {
  font-size: 66px;
  text-align: left;
  padding-left: 20px;
}
.travel-numbers .number-first img {
  margin-top: 30px;
}
.travel-numbers .number-second {
  padding-top: 65px;
  padding-right: 30px;
}
.travel-numbers .number-second .number-text {
  padding: 0 10px;
}
.travel-numbers .number-second p.number2 {
  font-size: 80px;
  text-align: center;
}
.travel-numbers .number-second img {
  margin-bottom: 25px;
}
.travel-numbers .number-third {
  padding-top: 30px;
}
.travel-numbers .number-third .number-text {
  padding: 0 60px;
}
.travel-numbers .number-third p.number3 {
  font-size: 102px;
  text-align: left;
}
.travel-numbers .number-third img {
  margin-top: 20px;
}
.travel-numbers .number-fourth .number-text {
  padding: 0 60px;
}
.travel-numbers .number-fourth p.number4 {
  font-size: 68px;
  text-align: center;
}
.travel-numbers .number-fourth img {
  margin-bottom: 10px;
}

.travel-map {
  display: block;
  background-color: none;
  background-image: url(img/bg/map_bg.png);
  background-repeat: repeat;
  background-position: center;
  background-attachment: none;
  padding: 45px 0 30px;
}
.travel-map-inner {
  width: 800px;
  margin: auto;
  position: relative;
}
.travel-map .town {
  position: absolute;
}
.travel-map .town-image {
  width: 82px;
  height: 55px;
  border: 3px solid #ffffff;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.9);
}
.travel-map .town-image img {
  width: 100%;
  height: 100%;
}
.travel-map .town-name {
  display: inline-block;
  background: rgba(255, 255, 255, 0.3);
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 2px 4px;
  margin-top: 5px;
  letter-spacing: 1px;
}
.travel-map .town.town1 {
  right: 15px;
  top: 110px;
}
.travel-map .town.town2 {
  right: 245px;
  top: 85px;
}
.travel-map .town.town3 {
  right: 350px;
  top: 250px;
}
.travel-map .town.town3 .town-name {
  position: absolute;
  right: 100%;
  top: 15px;
  margin: 0;
  right: 110%;
}
.travel-map .town.town4 {
  left: 25px;
  top: 190px;
}
.travel-map .way {
  position: absolute;
}
.travel-map .way.way1 {
  top: 160px;
  right: 120px;
}
.travel-map .way.way2 {
  top: 150px;
  right: 330px;
}
.travel-map .way.way3 {
  left: 27px;
  top: 278px;
}
.travel-map .transport {
  position: absolute;
}
.travel-map .transport.transport1 {
  right: 120px;
  top: 160px;
}
.travel-map .transport.transport2 {
  left: 195px;
  top: 265px;
}
.travel-map .transport-text {
  position: absolute;
  font-size: 15px;
  font-weight: 15px;
  color: #ffffff;
}
.travel-map .transport-text:before {
  content: '';
  position: absolute;
  width: 80px;
  height: 1px;
  background: #ffffff;
}
.travel-map .transport-text.transport-text1 {
  right: 150px;
  top: 250px;
}
.travel-map .transport-text.transport-text1:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: -35px;
  left: 40px;
}
.travel-map .transport-text.transport-text2 {
  left: 320px;
  top: 350px;
}
.travel-map .transport-text.transport-text2:before {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  top: -20px;
  right: 101%;
}

.travel-author {
  display: block;
  background-color: none;
  background-image: url(img/bg/author_bg.jpg);
  background-position: center;
  background-attachment: none;
  padding: 45px 0 55px;
}
.travel-author .title {
  color: #ffffff;
  margin-bottom: 40px;
}
.travel-author .title span {
  color: #ffffff;
}
.travel-author-inner {
  width: 645px;
  background: #ffffff;
  margin-left: 10px;
  padding: 30px 30px 20px 45px;
}
.travel-author-inner p {
  font-size: 17px;
  font-weight: 300;
  color: #4b4b4b;
  margin-bottom: 20px;
  line-height: 1.2;
}
.travel-author-inner h5 {
  font-size: 15px;
  text-align: right;
  letter-spacing: 2px;
  color: #000000;
}

.travel-reviews {
  display: block;
  background-color: #ffffff;
  background-image: url();
  background-position: center;
  background-attachment: none;
  padding: 50px 0 55px;
  border-bottom: 4px dashed #d6d6d6;
}
.travel-reviews .title {
  margin-bottom: 45px;
}
.travel-reviews .btn-holder {
  text-align: center;
  margin-bottom: 40px;
}
.travel-reviews-inner {
  width: 682px;
  margin: auto;
}
.travel-reviews-inner .subtitle {
  font-size: 16px;
  font-weight: 300;
  color: #7a7a7a;
  line-height: 1.2;
  margin-bottom: 50px;
  text-align: center;
}
.travel-reviews-inner .review {
  margin-bottom: 30px;
  padding: 25px 35px 20px 135px;
  position: relative;
  border: 4px solid #7ce1c6;
}
.travel-reviews-inner .review .avatar {
  width: 156px;
  height: 156px;
  position: absolute;
  top: 50%;
  left: -78px;
  margin-top: -78px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.travel-reviews-inner .review .avatar img {
  width: 100%;
  height: 100%;
}
.travel-reviews-inner .review h4 {
  text-align: left;
  font-size: 17px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.travel-reviews-inner .review p {
  font-size: 17px;
  font-weight: 300;
  color: #838383;
  line-height: 1.2;
  margin-bottom: 35px;
}
.travel-reviews-inner .review h5 {
  text-align: right;
  font-size: 17px;
  font-weight: 300;
  text-transform: none;
}

.travel-details {
  display: block;
  background-color: #ffffff;
  background-image: url();
  background-position: center;
  background-attachment: none;
  padding: 45px 0 25px;
  border-bottom: 4px dashed #d6d6d6;
}
.travel-details .title {
  margin-bottom: 60px;
}
.travel-details .btn-holder {
  text-align: center;
}
.travel-details .btn-holder a {
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  color: #58bfd0;
  text-decoration: underline;
}
.travel-details .btn-holder a:hover {
  text-decoration: none;
}
.travel-details-inner .detail {
  margin-bottom: 50px;
}
.travel-details-inner .detail h3 {
  text-align: left;
  letter-spacing: 2px;
  margin-bottom: 35px;
}
.travel-details-inner .detail p {
  font-size: 17px;
  color: #4b4b4b;
  line-height: 1.3;
  margin-bottom: 20px;
}
.travel-details-inner .detail p a {
  font-weight: 600;
  color: #58bfd0;
  text-decoration: underline;
}
.travel-details-inner .detail p a:hover {
  text-decoration: none;
}
.travel-details-inner .detail ul {
  padding-left: 20px;
}
.travel-details-inner .detail ul li {
  font-size: 17px;
  color: #4b4b4b;
  margin: 6px 0;
  position: relative;
}
.travel-details-inner .detail ul li:before {
  content: '';
  position: absolute;
  top: 6px;
  left: -18px;
  width: 8px;
  height: 8px;
  background: #7ce1c6;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.travel-bottom {
  display: block;
  background-color: none;
  background-image: url(img/bg/bottom_bg.jpg);
  background-position: center;
  background-attachment: none;
}

.travel-choice {
  display: block;
  padding: 50px 0 45px;
}
.travel-choice .title {
  margin-bottom: 65px;
}
.travel-choice-inner:after {
  content: "";
  display: table;
  clear: both;
}
.travel-choice-inner .choice {
  width: 33%;
  float: left;
  text-align: center;
  border: 1px solid transparent;
  padding: 20px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.travel-choice-inner .choice h3 {
  text-transform: none;
  margin-bottom: 25px;
}
.travel-choice-inner .choice .image-holder {
  margin-bottom: 15px;
}
.travel-choice-inner .choice .image-holder-inner {
  display: inline-block;
  width: 156px;
  height: 156px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
.travel-choice-inner .choice .image-holder-inner img {
  width: 100%;
  height: 100%;
}
.travel-choice-inner .choice p {
  font-size: 15px;
  color: #939393;
  line-height: 1.3;
  margin-bottom: 20px;
}
.travel-choice-inner .choice h4 span {
  display: inline-block;
  font-size: 22px;
  font-weight: 300;
  color: #585858;
  position: relative;
}
.travel-choice-inner .choice h4 span:before {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  top: 50%;
  background: #585858;
}
.travel-choice-inner .choice h2 {
  font-size: 32px;
  margin-bottom: 10px;
}
.travel-choice-inner .choice .economy span {
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #585858;
}
.travel-choice-inner .choice .btn-holder {
  margin-top: 20px;
}
.travel-choice-inner .choice .btn-holder .btn-green {
  border-width: 3px;
}
.travel-choice-inner .choice:hover {
  border: 1px solid #cacaca;
}
.travel-choice-inner .choice.centred {
  margin-top: -48px;
}

.travel-pay {
  margin: 20px 0;
}
.travel-pay-inner {
  text-align: center;
}
.travel-pay-inner img {
  margin-bottom: -3px;
}
.travel-pay-inner p {
  margin-left: 30px;
  display: inline-block;
  width: 255px;
  font-size: 16px;
  font-weight: 300;
  color: #8d8d8d;
  text-align: left;
  line-height: 1.3;
}

.travel-form {
  display: block;
  padding: 55px 0 30px;
}
.travel-form .title {
  margin-bottom: 40px;
}
.travel-form-inner {
  width: 580px;
  margin: auto;
  padding: 25px 80px 15px 25px;
  background: url(img/plain.png) no-repeat top left, #ffffff;
  position: relative;
}
.travel-form-inner:after {
  content: '';
  width: 25px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  background: url(img/form_after.png) repeat-y;
}
.travel-form-inner p {
  font-size: 15px;
  font-style: italic;
  color: #9d9d9d;
  line-height: 1.2;
  margin-bottom: 25px;
}
.travel-form-inner .input-holder {
  margin-bottom: 14px;
}
.travel-form-inner .input-holder:after {
  content: "";
  display: table;
  clear: both;
}
.travel-form-inner .input-holder label {
  font-size: 17px;
  color: #5b5b5b;
  height: 42px;
  line-height: 42px;
  display: inline-block;
}
.travel-form-inner .input-holder .input-inner {
  width: 310px;
  float: right;
}
.travel-form-inner .input-holder .input-inner:after {
  content: "";
  display: table;
  clear: both;
}
.travel-form-inner .input-holder .input-inner input.left {
  width: 48%;
  float: left;
}
.travel-form-inner .input-holder .input-inner input.right {
  width: 48%;
  float: right;
}
.travel-form-inner .input-holder .input-inner .btn-green {
  margin-top: 10px;
}
.travel-form-info {
  width: 450px;
  margin: 50px auto 0;
}
.travel-form-info img {
  float: left;
}
.travel-form-info p {
  padding-left: 65px;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.2;
}

::-webkit-input-placeholder {
  color: #b7b7b7;
  font-size: 16px;
  font-style: italic;
}

:-moz-placeholder {
  color: #b7b7b7;
  font-size: 16px;
  font-style: italic;
}

:-ms-input-placeholder {
  color: #b7b7b7;
  font-size: 16px;
  font-style: italic;
}

.travel-questions {
  display: block;
  background-color: #f1f1f1;
  background-image: url();
  background-position: center;
  background-attachment: none;
  padding: 40px 0 50px;
}
.travel-questions .title {
  margin-bottom: 40px;
}
.travel-questions-inner {
  width: 760px;
  margin: auto;
}
.travel-questions-inner:after {
  content: "";
  display: table;
  clear: both;
}
.travel-questions-inner .questions {
  width: 380px;
  float: left;
  padding-left: 60px;
}
.travel-questions-inner .questions li {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 20px;
  position: relative;
}
.travel-questions-inner .questions li:before {
  content: '';
  position: absolute;
  left: -40px;
  top: -3px;
  width: 29px;
  height: 29px;
  background: url(img/icons/question.png) no-repeat;
}
.travel-questions-inner .answer {
  width: 305px;
  float: right;
}
.travel-questions-inner .answer p {
  font-size: 15px;
  font-weight: 300;
  color: #838383;
  line-height: 1.3;
  margin-top: 20px;
  text-align: center;
  padding: 0 20px;
}
.travel-questions-inner .answer form {
  background: #ffffff;
  padding: 15px 20px;
  width: 100%;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}
.travel-questions-inner .answer form h5 {
  letter-spacing: 2px;
  line-height: 1.1;
  padding: 0 10px;
  margin-bottom: 15px;
}
.travel-questions-inner .answer form input[type="text"] {
  margin-bottom: 10px;
}
.travel-questions-inner .answer form .btn-holder {
  text-align: center;
  margin-top: 5px;
}
